*{
	font-family: "微软雅黑";
}

body {
	padding-top: 70px;
	background-color: #222;
}

.side-nav{
	position: fixed;
	top: 51px;
    left: 225px;
    margin-left: -225px;
    width: 180px;
    border: none;
    background-color: #222;
    overflow-y: auto; 
    text-align: center;
}

.side-nav>ul{
	background-color: #333;
}

.side-nav>li{
	width: 180px;
	/*text-align: center;*/
}

.side-nav>li>a{
	color: #9d9d9d;

}

.side-nav>li>a:hover{
	background-color: #333;

}

#page-wrapper{
	margin-top: -20px;
	margin-left: 180px;
	height: auto;
	background-color: #fff;
}

