.row-1{
    margin:0 auto;
}

div.col-md-4 input{
    display: inline-block;
}

input.form-control{
    width: auto;
}/*重写*/

.pic-show{
    width: 70%;
    margin: 20px auto;
    border: solid 2px #767676;
    padding: 10px;
}
/*图片展示区*/

img{
    width:100%;
}